<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/renderer.css" />
    <title>Rich Content Test Env</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
    />
    <style>
      /* Disable CSS transitions. */
      * {
        -webkit-transition: 0ms !important;
        -moz-transition: 0ms !important;
        -o-transition: 0ms !important;
        transition: 0ms !important;
      }
      /* Disable CSS animations. */
      * {
        -webkit-animation: 0ms !important;
        -moz-animation: 0ms !important;
        -o-animation: 0ms !important;
        animation: 0ms !important;
      }
      /* Reset values on non-opaque/offscreen framer-motion components. */
      /* *[style*='opacity'] {
        opacity: 1 !important;
      }
      *[style*='transform'] {
        transform: unset !important;
      } */
    </style>
  </head>

  <body>
    <div id="root"><%- html %></div>

    <script>
      window.__CONTENT_STATE__ = <%- serialize(initialState) %>;
      window.isMobile = <%- isMobile %>;
      window.locale = <%- '"' + locale + '"' %>;
      window.compId = <%- '"' + compId + '"' %>;
      window.testAppConfig = <%- serialize(testAppConfig) %>;
    </script>
    <script src="/<%- bundleName %>.bundle.js"></script>
  </body>
</html>
